body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: auto;
    background: url("/images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: -1;
}
html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Rockybilly';
    src: url('/font/Rockybilly.ttf?raw=true') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Rockybilly', cursive;
    font-size: 2.6rem;
    
}
.typing {

    border-right: 3px solid black;
    white-space: nowrap;
    overflow: hidden;
    margin: 0; 
    padding: 0;
    line-height: 1.2;
}


.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background: #391d0f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

.back-button:hover {
    background: #955428;
    box-shadow: #cb8f35;
    transform: scale(1.1);
}

.team-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
}

.member {
    width: 280px;
    height: 350px;
    perspective: 1000px; 
}



.member.large {
    width: 300px;
    height: 400px;
}


.member .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}


.member:hover .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flip-card {
    cursor: pointer;
}


.flip-card-front {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.flip-card-back {
    background: #391d0f;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8); 
    transition: background 0.3s ease-in-out; 
}


.member:hover .flip-card-back {
    background: #955428;
}

.flip-card-back p {
    margin: 10px 0;
    font-size: 1.2em;
    text-align: center;
}


.button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}


.map-button, .link-button {
    background-color: #e0cba8;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s;
}

.map-button:hover, .link-button:hover {
    background: #331a15;
}

.link-button img, .map-button img {
    width: 22px;
    height: 22px;
}

.link-button img {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.link-button:hover img {
    transform: scale(1.2);
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.5);
}


.category {
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    font-size: 2.2em;
    background: url(../img/wood.jpg);
    border-radius: 40%;
}
@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.category {
    animation: fadeInSlide 1s ease-in-out;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* Soft shadow for better visibility */
}
